
comment "Atheros 802.11(a/b/g) PCI/Cardbus support"

config ATHEROS
	tristate "Atheros PCI/Cardbus cards"
	depends on PCI && NET_RADIO
       ---help---
	  Say Y here if you intend to attach an Atheros Cardbus or PCI
	  wireless Ethernet networking card to your computer.  This
	  driver support the standard Linux Wireless Extensions.

	  To compile this driver as a module, choose M here: the module will be
	  called ath5k_pci.  If unsure, say N.

